<% include ../Partials/HeaderRoot  %>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center m-0">
                        <a href="/" class="logo logo-admin"><img src="public/assets/images/logo1.png" height="30" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                         <p class="text-muted text-center">Sign in to continue to Kool Kanya.</p>
                        <h4 class="text-muted font-18 m-b-5 text-center">Admin Panel</h4>
                        <% if (typeof message!= 'undefined') { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>
                        <% if (typeof message1!= 'undefined') { %>
                            <div class="alert alert-success"><%= message1 %></div>
                        <% } %>
                        <!-- <p class="text-muted text-center">Sign in to continue to Fonik.</p> -->
                        <form class="form-horizontal m-t-30"   method="post">
                            <!-- <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
                            </div> -->
                            <div class="form-group">
                           <center> <a href="/auth/google" class="btn btn-info">Login With Google</a></center>
                        </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <% if (typeof username == 'undefined') { %>
                                <input type="text" class="form-control" id="username" placeholder="Enter username" name = "username" required>
                                <% } %>
                                <% if (typeof username != 'undefined') { %>
                                    <input type="text" class="form-control" required id="username" placeholder="Enter username" name = "username" value =<%= username %> >
                                    <% } %>
                            </div>

                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <input type="password" class="form-control" id="userpassword" placeholder="Enter password" name="password" required>
                            </div>
<br/>
                            <div class="form-group row m-t-20">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                              
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- <div class="m-t-40 text-center">
                <p>Don't have an account ? <a href="pages-register.html" class="text-primary"> Signup Now </a> </p>
                <p>© 2018 Lexa. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
            </div> -->

        </div>

        <% include ../Partials/FooterRoot  %>
        <script src="public/plugins/parsleyjs/parsley.min.js"></script>
  <script>
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
<!-- <script type="text/javascript">
document.getElementsByName("login_form").action="/login?route=abc";
</script> -->