<%- contentFor('HeaderCss') %>
<!-- perticular page css -->
  
<%- contentFor('body') %>

 
 <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
        <br/><br/>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card m-b-30 text-white bg-info">
                                    <div class="card-body">
                                        <blockquote class="card-blockquote mb-0">
                                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                                erat a ante.</p> -->
                                                <a href="/become-koolkanya"> 
                                                <h2>Become A Kool Kanya</h2>
                                            <footer class="blockquote-footer text-white font-12">
                                                Click Here  To Get Full Subscribers List   
                                            </footer>
                                            </a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
<!--         
                            <div class="col-lg-4">
                                <div class="card m-b-30 text-white bg-primary">
                                    <div class="card-body">
                                        <blockquote class="card-blockquote mb-0">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                                erat a ante.</p>
                                            <footer class="blockquote-footer text-white font-12">
                                                Someone famous in <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div> -->
        
                            <!-- <div class="col-lg-4">
                                <div class="card m-b-30 text-white bg-success">
                                    <div class="card-body">
                                        <blockquote class="card-blockquote mb-0">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                                erat a ante.</p>
                                            <footer class="blockquote-footer text-white font-12">
                                                Someone famous in <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <!-- end row -->
        
        
                        <!-- <div class="row">
                            <div class="col-lg-4">
                                <div class="card m-b-30 text-white bg-info">
                                    <div class="card-body">
                                        <blockquote class="card-blockquote mb-0">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                                erat a ante.</p>
                                            <footer class="blockquote-footer text-white font-12">
                                                Someone famous in <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4">
                                <div class="card m-b-30 text-white bg-warning">
                                    <div class="card-body">
                                        <blockquote class="card-blockquote mb-0">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                                erat a ante.</p>
                                            <footer class="blockquote-footer text-white font-12">
                                                Someone famous in <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-lg-4">
                                <div class="card m-b-30 text-white bg-danger">
                                    <div class="card-body">
                                        <blockquote class="card-blockquote mb-0">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                                erat a ante.</p>
                                            <footer class="blockquote-footer text-white font-12">
                                                Someone famous in <cite title="Source Title">Source Title</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- end row -->
        
        
                        
        
                        <!-- end row -->
            
                    </div> <!-- container-fluid -->

                </div> <!-- content -->
                <%- contentFor('FooterJs') %>